:root {
	--dark-blue: hsl(208, 49%, 24%);
	--red: hsl(356, 100%, 66%);
	--grayish-blue: hsl(207, 13%, 34%);
	--cta-ligth-red: hsl(13, 100%, 72%);
	--cta-red: hsl(353, 100%, 62%);
	--color-cta-hover: hsl(355, 100%, 74%);
	--color-body-gradient-dark-blue: hsl(237, 17%, 21%);
	--color-body-gradient-blue: hsl(237, 23%, 32%);
	--color-footer-text: hsl(207, 2%, 79%);
	--footer-background: hsl(240, 10%, 16%);
	font-size: 16px;
}

.CTA,
.speed {
	--color-accent: #fff;
	--rounded: 5rem;
}

.features,
.benefits {
	--color-accent: var(--dark-blue);
}

.btn {
	--rounded: 5rem;
	--color-accent: none;
	--color-text: #fff;

	&--filled {
		--color-accent: #fff;
		--color-text: var(--red);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: var(--grayish-blue);
	font-family: 'Overpass', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.7;
}

section {
	text-align: center;
	padding: 2.5rem 0;

	p {
		margin: 1em 0em 2em 0;
	}
}

h1,
h2,
h3,
h4,
ul,
li,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

img {
	max-width: 100%;
}

.btn {
	background-color: var(--color-accent, red);
	border: none;
	border-radius: var(--rounded);
	color: var(--color-text, #fff);
	display: inline-block;
	font-weight: 700;
	padding: 0.75em 1em;
	text-decoration: none;
	outline: none;

	&--ghost {
		// box-shadow: 0 0 0 0.1rem #fff;
		border: 0.1rem solid #fff;
	}
}

.logo {
	height: 2rem;
	margin-left: 2rem;
	display: block;
}

.primary-title,
.secondary-title,
.tertiary-title {
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	line-height: 1.1;
}

.primary-title {
	font-size: 2.1rem;
	color: var(--color-accent, #000);
}

.secondary-title {
	margin: 1em 0;
	color: var(--color-accent, blue);
}

.tertiary-title {
	font-size: 1.3rem;
	color: var(--color-accent, blue);
}

.container {
	width: 80vw;
	max-width: 40rem;
	margin: auto;
}

.CTA {
	background: hsl(353, 100%, 62%);
	background: url(../images/bg-pattern-intro.svg),
		linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-size: 350%;
	background-repeat: no-repeat;
	background-position: top 35% left 35%;
	border-bottom-left-radius: var(--rounded);
	color: #fff;
	padding: 3em 0;
	text-align: center;

	&__text {
		margin: 5rem 0;

		p {
			font-family: 'Overpass', sans-serif;
			font-weight: 400;
			margin: 1.5em 0 2em 0;
		}
	}

	.btn {
		margin: 0.25em;
	}
}

.nav {
	display: none; //hacer el navbar
}

.dropdown {
	li {
		position: relative;
		display: inline-block;

		&:hover > ul {
			display: block;
		}
	}

	ul {
		position: absolute;
		display: none;

		li {
			float: none;
			display: list-item;
			position: relative;
		}
	}

	a {
		color: var(--color-text, #fff);
	}
}

.features,
.benefits {
	img {
		margin-bottom: 1rem;
	}
}

.speed {
	background: hsl(237, 17%, 21%);
	background: url(../images/bg-pattern-circles.svg),
		linear-gradient(133deg, hsl(237, 17%, 21%) 20%, hsl(237, 23%, 32%) 100%);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0 var(--rounded) 0 var(--rounded);
	color: #fff;
	margin-top: 10rem;
	padding: 10em 0 4em;

	img {
		margin-top: -20rem;
		transform: scale(1.2);
	}
}
