:root {
	--dark-blue: hsl(208, 49%, 24%);
	--red: hsl(356, 100%, 66%);
	--grayish-blue: hsl(207, 13%, 34%);
	--cta-ligth-red: hsl(13, 100%, 72%);
	--cta-red: hsl(353, 100%, 62%);
	--cta-hover: hsl(355, 100%, 74%);
	--color-body-gradient-dark-blue: hsl(237, 17%, 21%);
	--color-body-gradient-blue: hsl(237, 23%, 32%);
	--color-footer-text: hsl(207, 2%, 79%);
	--footer-background: hsl(240, 10%, 16%);
	font-size: 16px;
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

.CTA,
.speed,
footer {
	--color-accent: #fff;
	--rounded: 5rem;
}

.features,
.benefits {
	--color-accent: var(--dark-blue);
}

.btn {
	--rounded: 5rem;
	--color-accent: none;
	--color-text: #fff;

	&--filled {
		--color-accent: #fff;
		--color-text: var(--red);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: var(--grayish-blue);
	font-family: 'Overpass', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.7;
}

section {
	text-align: center;
	padding: 2.5rem 0;

	p {
		margin: 1em 0em 2em 0;
	}
}

h1,
h2,
h3,
h4,
ul,
li,
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: inherit;
}

img {
	max-width: 100%;
}

.btn {
	background-color: var(--color-accent, red);
	border: none;
	border-radius: var(--rounded);
	color: var(--color-text, #fff);
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0.75em 1em;
	text-decoration: none;
	transition: color 250ms ease-in-out;
	outline: none;

	&--filled {
		&:hover,
		&:focus {
			background-color: var(--cta-hover);
			color: #fff;
		}
	}

	&--ghost {
		border: 0.1rem solid #fff;
		&:hover,
		&:focus {
			color: var(--cta-hover);
			background-color: #fff;
		}
	}
}

.logo {
	height: 2rem;
	// margin-left: 2rem;
}

.primary-title,
.secondary-title,
.tertiary-title {
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	line-height: 1.1;
}

.primary-title {
	font-size: 2.1rem;
	color: var(--color-accent, #000);
}

.secondary-title {
	margin: 1em 0;
	color: var(--color-accent, blue);
}

.tertiary-title {
	font-size: 1.3rem;
	color: var(--color-accent, blue);
}

.container {
	width: 80vw;
	max-width: 40rem;
	margin: auto;
}

.CTA {
	background: hsl(353, 100%, 62%);
	background: url(../images/bg-pattern-intro.svg),
		linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-size: 350%;
	background-repeat: no-repeat;
	background-position: top 35% left 35%;
	border-bottom-left-radius: var(--rounded);
	color: #fff;
	padding: 3em 0;

	&__text {
		text-align: center;
		margin: 5rem 0;

		p {
			font-family: 'Overpass', sans-serif;
			font-weight: 400;
			margin: 1.5em 0 2em 0;
		}
	}

	.btn {
		margin: 0.25em;
	}
}

.nav {
	@include for-tablet-landscape-up() {
		align-items: center;
		display: flex;
		width: 85%;
		max-width: 60em;
		margin: auto;

		.logo {
			margin-right: 3rem;
		}

		.push {
			margin-left: auto;
		}

		.dropdown {
			text-align: left;
			display: flex;
			gap: 1em;

			> li {
				opacity: 0.7;

				&::after {
					content: url(../images/icon-arrow-light.svg);
					display: inline-block;
					transition: transform 250ms ease-in-out;
					margin-left: 0.5rem;
				}

				&:hover {
					opacity: 1;
					text-decoration: underline;

					&::after {
						transform: rotate(0.5turn) translate(0, -10%); //translate moves the arrow to the "center"
					}
				}
			}

			li ul {
				background-color: #fff;
				border-radius: 0.3em;
				width: 10em;
				padding: 1em;
				gap: 0.5em;
				// transform: translate(0, 1em);
				// margin-top: 1em;

				a {
					color: #000;
					font-weight: 300;

					&:hover {
						font-weight: 500;
					}
				}
			}
		}
	}
}

.dropdown {
	li {
		font-weight: 500;
		position: relative;
		display: inline-block;

		&:hover > ul {
			display: grid;
		}
	}

	ul {
		position: absolute;
		display: none;

		li {
			float: none;
			display: list-item;
			position: relative;
		}
	}

	a {
		color: var(--color-text, #fff);
	}
}

.features,
.benefits {
	img {
		margin-bottom: 1rem;
	}
}

.speed {
	background: hsl(237, 17%, 21%);
	background: url(../images/bg-pattern-circles.svg),
		linear-gradient(133deg, hsl(237, 17%, 21%) 20%, hsl(237, 23%, 32%) 100%);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0 var(--rounded) 0 var(--rounded);
	color: #fff;
	margin-top: 10rem;
	padding: 10em 0 4em;

	img {
		margin-top: -20rem;
		transform: scale(1.2);
	}
}

footer {
	align-items: center;
	background-color: var(--footer-background);
	border-radius: 0 var(--rounded) 0 0;
	color: var(--color-footer-text);
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 5em 0;

	img {
		padding: 0 5em;
		height: 2rem;
		width: auto;
	}

	ul {
		padding: 0 5em;
		margin: 1rem 0;

		h4 {
			margin: 0.5em 0;
			color: #fff;
		}
	}
}
